src/META-INF/wsdl/localhost_8080/archtoxws/WSRole.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://archtoxwebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://archtoxwebservice/">

<xs:element name="listarRoles" type="tns:listarRoles" />

<xs:element name="listarRolesResponse" type="tns:listarRolesResponse" />

<xs:complexType name="listarRoles">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarRolesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>