src/META-INF/wsdl/localhost_8080/archtoxws/WSUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://archtoxwebservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://archtoxwebservice/" name="WSUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://archtoxwebservice/" schemaLocation="http://localhost:8080/archtoxws/WSUsuario?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerUsuario">
<part name="parameters" element="tns:obtenerUsuario" />
</message>
<message name="obtenerUsuarioResponse">
<part name="parameters" element="tns:obtenerUsuarioResponse" />
</message>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario" />
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse" />
</message>
<message name="agregarAcceso">
<part name="parameters" element="tns:agregarAcceso" />
</message>
<message name="agregarAccesoResponse">
<part name="parameters" element="tns:agregarAccesoResponse" />
</message>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion" />
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse" />
</message>
<message name="buscarRol">
<part name="parameters" element="tns:buscarRol" />
</message>
<message name="buscarRolResponse">
<part name="parameters" element="tns:buscarRolResponse" />
</message>
<message name="obtenerNombreUsuario">
<part name="parameters" element="tns:obtenerNombreUsuario" />
</message>
<message name="obtenerNombreUsuarioResponse">
<part name="parameters" element="tns:obtenerNombreUsuarioResponse" />
</message>
<portType name="WSUsuario">
<operation name="obtenerUsuario">
<input wsam:Action="http://archtoxwebservice/WSUsuario/obtenerUsuarioRequest" message="tns:obtenerUsuario" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse" />
</operation>
<operation name="agregarUsuario">
<input wsam:Action="http://archtoxwebservice/WSUsuario/agregarUsuarioRequest" message="tns:agregarUsuario" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/agregarUsuarioResponse" message="tns:agregarUsuarioResponse" />
</operation>
<operation name="agregarAcceso">
<input wsam:Action="http://archtoxwebservice/WSUsuario/agregarAccesoRequest" message="tns:agregarAcceso" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/agregarAccesoResponse" message="tns:agregarAccesoResponse" />
</operation>
<operation name="iniciarSesion">
<input wsam:Action="http://archtoxwebservice/WSUsuario/iniciarSesionRequest" message="tns:iniciarSesion" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/iniciarSesionResponse" message="tns:iniciarSesionResponse" />
</operation>
<operation name="buscarRol">
<input wsam:Action="http://archtoxwebservice/WSUsuario/buscarRolRequest" message="tns:buscarRol" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/buscarRolResponse" message="tns:buscarRolResponse" />
</operation>
<operation name="obtenerNombreUsuario">
<input wsam:Action="http://archtoxwebservice/WSUsuario/obtenerNombreUsuarioRequest" message="tns:obtenerNombreUsuario" />
<output wsam:Action="http://archtoxwebservice/WSUsuario/obtenerNombreUsuarioResponse" message="tns:obtenerNombreUsuarioResponse" />
</operation>
</portType>
<binding name="WSUsuarioPortBinding" type="tns:WSUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="agregarAcceso">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="iniciarSesion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerNombreUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSUsuario">
<port name="WSUsuarioPort" binding="tns:WSUsuarioPortBinding">
<soap:address location="http://localhost:8080/archtoxws/WSUsuario" />
</port>
</service>
</definitions>